<header>
    <h1> Su carrito </h1>
</header>
{{> mensaje}}



<form action="/login" method="POST">
    <label for="correo">
        Correo
        <input type="email" name="correo" required placeholder="richard@correo.com">
    </label>
    <label for="contra">
        contraseña
        <input type="password" name="contra" required placeholder="***********">
    </label>
    <input type="submit" id="enviar">
</form>
<div id="pedido">
    <a href="/register">Crea una cuenta</a>
    <a href="/"> Agregar mas productos</a>
    </main>