<header>
    <h1> Su carrito </h1>
</header>
<form action="/register" method="POST">
    <label for="nombre">
        Nombre y apellidos
        <input type="text" name="nombre" required placeholder="Richard Alvarado FLores" />
    </label>
    <label for="telefono">
        telefono
        <input type="number" name="telefono" required placeholder="987654321">
    </label>
    <label for="correo">
        Correo
        <input type="email" name="correo" required placeholder="richard@correo.com">
    </label>
    <label for="contra">
        contraseña
        <input type="password" name="contra" required placeholder="***********">
    </label>
    <input type="submit">
</form>

<div id="pedido">
    <a href="../usuario/cuenta.hbs"> Ingresar a su cuenta</a>
    <a href="../index/index.hbs"> Agregar mas productos</a>
    </main>