<!DOCTYPE html>
<html lang="es">
    <head>
        <!--<link rel=styleSheet href="desktop.css" type="text/css" media="screen and (min-width: 1px)">
        <link rel=styleSheet href="phone.css" type="text/css" media="screen and (max-width: 767px)"> -->
        <meta charset="UTF-8">
        <meta name="description" content="Ventas de Frutas">
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, inictial-scale=1.0">
        <title> Buy Fruits</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>